import React, { useState } from 'react';
import { Widget } from '@happyreact/react';
 
import styles from './styles.module.css';
 
import '@happyreact/react/theme.css';
 
[...]

export default function DocItemFooter(props) {
 
export default function Feedback({ resource }) {
  return <div>Our feedback component for page {resource}</div>;
}
 
  return (
    <div className={styles.root}>
      <h3 className={styles.title}>Was this page helpful?</h3>
      {!isReacted ? (
        <div className="">
          <Widget
            token="[7920edff-1749-4303-ae2d-da69cee1b0c7]"
            resource={_resource}
            classes={{
              root: styles.widget,
              container: styles.container,
              grid: styles.grid,
              cell: styles.cell,
              reaction: styles.reaction,
            }}
            onReaction={handleReaction}
          />
        </div>
      ) : reaction === 'No' ? (
        <VotedNo />
      ) : (
        <VotedYes />
      )}
    </div>
  );
}
